* {
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;

	color: #262626;
}

button,
.action-buttons img,
.close-modal {
	cursor: pointer;
}

.main {
	width: 80%;

	margin-inline: auto;
	margin-block: 3%;
}

.main__title {
	font-size: 1.125rem;

	text-align: center;
}

.organizations {
	margin-block-start: 3em;

	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1.2em;
	column-gap: 2em;
}

.organization,
.organization-selected {
	display: flex;
	align-items: center;

	padding-block: 1.4em;
	padding-inline: 1.8em;

	box-shadow: 0 0 0.5em #e3e1e1;

	border-radius: 0.3em;
}

.organization-selected {
	box-shadow: 0 0 0.5em #005da1;
}

.name-and-tin {
	font-size: 0.875rem;

	margin-inline-start: 2em;
}

.tin-container {
	display: flex;
	gap: 0.8em;
}

.action-buttons {
	margin-inline-start: auto;
}

.action-buttons img + img {
	margin-inline-start: 1.2em;
}

.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 10;

	transform: translate(-50%, -50%);

	border: 0.0625em solid gray;
	border-radius: 0.3em;

	background-color: #fff;

	text-align: center;
}

.modal-close {
	cursor: pointer;

	color: red;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

.modal__delete-title {
	color: #486377;
}

.modal__delete-warning {
	color: #262626;
}
