* {
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;

	color: #262626;

	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

button,
.action-buttons img,
.modal__close {
	cursor: pointer;
}

.main {
	width: 80%;

	margin-inline: auto;
	margin-block: 3%;
}

.main__title {
	font-size: 1.125rem;
	font-weight: 600;

	text-align: center;

	color: #262626;

	margin-block-end: 0;
}

.organizations {
	margin-block-start: 2.5em;

	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1.25em;
	column-gap: 1.75em;
}

.organization,
.organization-selected {
	display: flex;
	align-items: center;

	padding-block: 1.5em;
	padding-inline: 2em;

	box-shadow: 0 0 0.5em #e3e1e1;

	border-radius: 0.375em;
}

.organization-selected {
	box-shadow: 0 0 0.5em #005da1;
}

.name-and-tin {
	font-size: 0.875rem;

	margin-inline-start: 1.75em;

	color: #262626;
}

.tin-container {
	display: flex;
	gap: 0.625em;

	margin-block-start: 0.75em;
}

.action-buttons {
	margin-inline-start: auto;
}

.action-buttons img + img {
	margin-inline-start: 1.25em;
}

.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 10;

	transform: translate(-50%, -50%);

	border: 0.0625em solid gray;
	border-radius: 0.375em;

	background-color: #fff;

	text-align: center;
}

.modal-delete {
	padding-block-end: 2.5em;
	padding-inline-start: 3em;
}

.modal__close-delete {
	display: block;

	margin-inline-start: auto;
	margin-block-start: 1em;
	margin-inline-end: 1em;
}

.modal__container-without-close {
	margin-inline-end: 3em;
}

.modal__delete-title {
	color: #486377;

	font-weight: 600;
	font-size: 1rem;
}

.modal__delete-warning {
	color: #262626;

	font-size: 0.875rem;

	margin-block-start: 1.25em;
}

.modal__delete-buttons {
	margin-block-start: 1.75em;

	display: flex;
	gap: 1.25em;
}

.modal__button-cancel,
.modal__button-delete {
	border-radius: 0.25em;

	font-size: 0.875rem;

	padding-block: 0.625em;
}

.modal__button-cancel {
	background-color: transparent;

	border: 0.0625em solid #2991dc;

	color: #2991dc;

	padding-inline: 2.5em;
}

.modal__button-delete {
	border: none;

	background-color: #2991dc;

	color: #fff;

	padding-inline: 7.125em;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
}
