* {
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;

	color: #262626;

	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

li {
	list-style: none;

	font-size: 0.875em;
}

button,
select,
.action-buttons img,
.modal__close,
.taxation,
.dropdown__option {
	cursor: pointer;
}

.main {
	width: 80%;

	margin-inline: auto;
	margin-block: 3%;
}

.main__title {
	font-size: 1.125rem;
	font-weight: 600;

	text-align: center;

	margin-block-end: 0;
}

.organizations {
	margin-block-start: 2.5em;

	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1.25em;
	column-gap: 1.75em;
}

.organization,
.organization-selected {
	display: flex;
	align-items: center;

	padding-block: 1.5em;
	padding-inline: 2em;

	box-shadow: 0 0 0.5em #e3e1e1;

	border-radius: 0.375em;
}

.organization-selected {
	box-shadow: 0 0 0.5em #005da1;
}

.name-and-tin {
	font-size: 0.875rem;

	margin-inline-start: 1.75em;
}

.tin-container {
	display: flex;
	gap: 0.625em;

	margin-block-start: 0.75em;
}

.action-buttons {
	margin-inline-start: auto;
}

.action-buttons img + img {
	margin-inline-start: 1.25em;
}

.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 10;

	transform: translate(-50%, -50%);

	border: 0.0625em solid gray;
	border-radius: 0.375em;

	background-color: #fff;

	text-align: center;
}

.modal__edit-title {
	font-size: 1.125rem;
	font-weight: 600;
}

.modal__edit-form-container {
	margin-inline-start: 2.25em;
	margin-inline-end: 2.25em;
	margin-block-start: 1.5em;
	margin-block-end: 2.25em;
}

.modal__edit-form {
	margin-block-start: 1.75em;

	text-align: left;
}

.modal__button-org {
	font-size: 1rem;

	border-radius: 0.3125em;

	border: none;

	padding-inline: 3.8959375em;
	padding-block: 0.75em;
}

.modal__button-org + .modal__button-org {
	margin-inline-start: 0.75em;
}

.modal__button-org-selected {
	color: #fff;

	background-color: #005da1;
}

.modal__button-org-unselected {
	background-color: #f2f2f2;
}

.label-taxation {
	font-size: 0.75rem;

	color: #808080;

	display: block;
}

.taxation {
	font-size: 0.875em;

	border: 0.0625em solid #d1d1d1;
	border-radius: 0.3125em;

	padding-inline: 1em;
	padding-block: 0.625em;

	background-image: url('./assets/icons/dropdown.png');
	background-repeat: no-repeat;
	background-position: right 1em top 0.625em;
}

.dropdown {
	border: 0.0625em solid #d1d1d1;
	border-radius: 0.3125em;

	margin-block-start: 0.3125em;

	box-shadow: 0 0 0.5em #e3e1e1;
}

.dropdown__option {
	padding-block: 0.625em;
	padding-inline: 1em;
}

.dropdown__option:hover {
	background-color: #005da1;

	color: #fff;

	border-radius: 0.0625em;
}

.select-container {
	margin-block-start: 0.25em;
}

.tin-input-label-container,
.orgname-input-label-container {
	margin-block-start: 1.25em;
}

.tin-input {
	width: 100%;

	font-size: 0.875em;

	border: 0.0625em solid #d1d1d1;
	border-radius: 0.3125em;

	padding-inline: 1em;
	padding-block: 0.625em;
}

.orgname-container {
	display: flex;
}

.orgname-orgform {
	font-size: 0.875em;

	border: 0.0625em solid #d1d1d1;
	border-top-left-radius: 0.3125em;
	border-bottom-left-radius: 0.3125em;

	padding-inline: 1em;
	padding-block: 0.625em;
}

.orgname-input {
	width: auto;

	font-size: 0.875em;

	padding-inline: 1em;
	padding-block: 0.625em;

	border: 0.0625em solid #d1d1d1;
	border-top-right-radius: 0.3125em;
	border-bottom-right-radius: 0.3125em;

	flex: 1;
}

.modal-delete {
	padding-block-end: 2.5em;
	padding-inline-start: 3em;
}

.modal__close {
	display: block;

	margin-inline-start: auto;
	margin-inline-end: 1em;
}

.modal__close-edit {
	margin-block-start: 1.25em;
}

.modal__close-delete {
	margin-block-start: 1em;
}

.modal__container-without-close {
	margin-inline-end: 3em;
}

.modal__delete-title {
	color: #486377;

	font-weight: 600;
	font-size: 1rem;
}

.modal__delete-warning {
	font-size: 0.875rem;

	margin-block-start: 1.25em;
}

.modal__delete-buttons {
	margin-block-start: 1.75em;

	display: flex;
	gap: 1.25em;
}

.modal__button-cancel,
.modal__button-delete {
	border-radius: 0.25em;

	font-size: 0.875rem;

	padding-block: 0.625em;
}

.modal__button-cancel {
	background-color: transparent;

	border: 0.0625em solid #2991dc;

	color: #2991dc;

	padding-inline: 2.5em;
}

.modal__button-delete {
	border: none;

	background-color: #2991dc;

	color: #fff;

	padding-inline: 7.125em;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
}
